<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="blogPostService" class="com.maxdemaio.demo.BlogPostService" autowire="constructor">
        <property name="wordCount" value="500"/>
    </bean>

    <bean id="wittyPostGenerator" class="com.maxdemaio.demo.WittyPostGenerator"/>


</beans>
